* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #f9fafc;
  color: #333;
}

.hero {
  height: 100vh;
  background:url(https://adesivo.com.br/cdn/shop/products/papel-de-parede-adesivo-patinhas-37388935-335704_grande.jpg?v=1643340697) center/cover;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
}

.hero-content {
  position: relative;
  color: yellow;
  text-align: center;
  animation: fadeIn 1.5s ease;
}

.hero h1 {
  font-size: 3rem;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 25px;
  background: #ffa109;
  color: white;
  text-decoration: none;
  border-radius: 30px;
  transition: 0.3s;
}

.btn:hover {
  background: #9b5e3f;
}


.sobre {
  padding: 60px 20px;
  text-align: center;
}

.sobre-container {
  max-width: 800px;
  margin: auto;
}

.stats {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.stats div h3 {
  color: #b2551b;
}


.servicos {
  padding: 60px 20px;
  background: #fff;
  text-align: center;
}

.cards {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 30px;
}

.card {
  background: #f0f4f8;
  padding: 20px;
  border-radius: 15px;
  width: 250px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-10px);
}


.contato {
  padding: 60px 20px;
  text-align: center;
}

form {
  max-width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input, textarea {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

button {
  padding: 12px;
  border: none;
  background: #e07512;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background: #9b5e3f;
}


@keyframes fadeIn {
  from {opacity: 0; transform: translateY(20px);}
  to {opacity: 1; transform: translateY(0);}
}

@media (max-width: 768px) {
  .cards {
    flex-direction: column;
    align-items: center;
  }

  .stats {
    flex-direction: column;
    gap: 15px;
  }
}